extends layout

block content
  h1 #{player[0].name}
  
  if player.length > 0
    for p in player
      p #{p.name} #{p.association_id} #{p.clubname}
  else if player 
    div #{player.id} #{player.association_id}
  else
    p Unknown player

  if matches.length > 0
    for m in matches 
      div  (#{m.home_club} #{m.home_team}) #{m.home_name} #{m.result} #{m.away_name} (#{m.away_club} #{m.away_team})
  else 
    p No matches available for player.

  if ratings.length > 0
    for r in ratings 
      div  #{r.rating_mu} #{r.rating_sigma} #{r.competition_name}
    else
      p No ratings available for player.